*{
    margin: 0 auto;
    padding: 0 auto;
}

#cuerpo{
    background-color: #e5b8ad;
    font-family: Arial;
}

#cabezera{
    display: flex;
    text-align: center;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:#f59d92;
    font-size: 40px;
    color: #3d2922;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 28px;
    min-height: calc(100vh - 100px)
}

input{
    text-align: center;
    border-radius: 5px;
    border-color: #e5b8ad;
    font-size: medium;
}

#arriba{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#arriba label{
    margin-right: 13px;
}

#arriba input{
    width: 50px;
    background-color: #3d2922;
    color: #e5b8ad;
}

#botones button{
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    border-color: #e5b8ad;
    background-color: #f59d92;
    color: #3d2922;
    font-size: 25px;
}

#botones button:hover{
    background-color: #3d2922;
    color: #f59d92;
}

.datos{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.datos input{
    width: 300px;
    margin-left: 30px;
    background-color: #3d2922;
    color: #e5b8ad;
}

#domicilio{
    display: flex;
    flex-direction: column;
}

#domicilio input{
    margin: 10px;
    background-color: #3d2922;
    color: #e5b8ad;
}
